
.layer1, .layer2, .layer3, .layer4 , .layer5{
    user-select: none;
    position: absolute;
    width: 100%;
  }
  
  .layer1{
    z-index: -5;
    top: -175px;
    height: 2000px;
    transition: all 0.2s linear;
  }
  .layer1 svg {
    transition: all 0.4s ease-in-out;
    fill: var(--layer-one-color);
  }
  
  .layer2 {
    z-index: -4;
    top: 0px;
    height: 2000px;
    transition: all 0.2s linear;
  }
  .layer2 svg {
    transition: all 0.4s ease-in-out;
    fill: var(--layer-two-color);
  }
  
  .layer3 {
    display: flex;
    z-index: -3;
    top: 300px;
    left: 50% - 300px;
    height: 200px;
    justify-content:center;
    align-items: center;
    transition: all 0.4s ease-in-out;
  }
  .layer3 h1 {
    font-size: 5rem;
    background-color: var(--bg-color);
    overflow:hidden;
    backdrop-filter: blur(10px);
    border-radius: 10px;
    padding: 3rem;
    transition: all 0.2s ease-out;
  }
  
  .layer4 {
    z-index: -2;
    top: 100px;
    height: 2000px;
  }
  .layer4 svg {
    transition: all 0.4s ease-in-out;
    fill:  var(--layer-three-color);
  }
  
  .layer5 {
    z-index: -1;
    top: 700px;
    height: 2000px;
    transition: all 0.2s ease-out;
  }
  .layer5 svg {
    transition: all 0.4s ease-in-out;
    fill:  var(--layer-four-color);
  }
  