body {
    --light-color-blue-one:rgb(189, 187, 194);
    --light-color-blue-two:rgb(107, 107, 133);
    --light-color-blue-three:rgb(125, 127, 141);
    --light-color-blue-four:rgb(43, 76, 107);
  
    --dark-color-blue-one:rgb(33, 37, 74);
    --dark-color-blue-two:rgb(38, 47, 54);
    --dark-color-blue-three:rgb(56, 61, 67);
    --dark-color-blue-four:rgb(14, 13, 28);
}

body.redscheme {
    --light-color-blue-one:rgb(194, 188, 187);
    --light-color-blue-two:rgb(133, 122, 107);
    --light-color-blue-three:rgb(141, 132, 125);
    --light-color-blue-four:rgb(107, 56, 43);
  
    --dark-color-blue-one:rgb(74, 51, 33);
    --dark-color-blue-two:rgb(54, 43, 38);
    --dark-color-blue-three:rgb(67, 59, 56);
    --dark-color-blue-four:rgb(28, 18, 13);
}

body.greenscheme {
  --light-color-blue-one:rgb(188, 194, 187);
  --light-color-blue-two:rgb(107, 133, 108);
  --light-color-blue-three:rgb(125, 141, 126);
  --light-color-blue-four:rgb(61, 107, 43);

  --dark-color-blue-one:rgb(41, 74, 33);
  --dark-color-blue-two:rgb(39, 54, 38);
  --dark-color-blue-three:rgb(57, 67, 56);
  --dark-color-blue-four:rgb(18, 28, 13);
}

body.yellowscheme {
  --light-color-blue-one:rgb(193, 194, 187);
  --light-color-blue-two:rgb(131, 133, 107);
  --light-color-blue-three:rgb(139, 141, 125);
  --light-color-blue-four:rgb(97, 107, 43);

  --dark-color-blue-one:rgb(68, 74, 33);
  --dark-color-blue-two:rgb(53, 54, 38);
  --dark-color-blue-three:rgb(66, 67, 56);
  --dark-color-blue-four:rgb(27, 28, 13);
}

body.monoscheme {
  --light-color-blue-one:rgb(192, 192, 192);
  --light-color-blue-two:rgb(136, 136, 136);
  --light-color-blue-three:rgb(114, 114, 114);
  --light-color-blue-four:rgb(75, 75, 75);

  --dark-color-blue-one:rgb(53, 53, 53);
  --dark-color-blue-two:rgb(49, 49, 49);
  --dark-color-blue-three:rgb(54, 54, 54);
  --dark-color-blue-four:rgb(22, 22, 22);
}