body {
  --bg-color: rgba(235, 243, 243, 0.6);
  --font-color: rgba(36, 37, 37, 0.8);
  --bg-hover-color: rgba(72, 78, 78, 0.6);
  --font-hover-color: rgba(214, 224, 197, 0.9);
  --shadow-color: 0.5px 0.5px 25px 1px rgba(212, 209, 190, 0.5);
  --shadow-hover-color: 0.5px 0.5px 50px 1px rgba(93, 91, 78, 0.739);
  --bg-layer1: url("/image/background/Light/Light_L1.png");
  --bg-layer2: url("/image/background/Light/Light_L2.png");
  --bg-layer3: url("/image/background/Light/Light_L3.png");
  --bg-layer4: url("/image/background/Light/Light_L4.png");
}
body.dark-theme {
  --bg-color: rgba(63, 70, 70, 0.6);
  --font-color: rgba(205, 209, 190, 0.9);
  --bg-hover-color: rgba(189, 207, 207, 0.6);
  --font-hover-color: rgba(68, 73, 62, 0.9);
  --shadow-color: 0.5px 0.5px 25px 1px rgba(59, 58, 52, 0.5);
  --shadow-hover-color: 0.5px 0.5px 50px 1px rgba(185, 181, 157, 0.815);
  --bg-layer1: url("/image/background/Dark/Dark_L1.png");
  --bg-layer2: url("/image/background/Dark/Dark_L2.png");
  --bg-layer3: url("/image/background/Dark/Dark_L3.png");
  --bg-layer4: url("/image/background/Dark/Dark_L4.png");
}

body {
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
  color: var(--font-color);
  text-shadow: 0.5px 0.5px 10px rgba(110, 110, 119, 0.74);
  background: linear-gradient(to bottom, rgb(236, 227, 227) 10%,rgb(166,102,102) 15%, rgb(109, 70, 70) 50%,rgb(73, 56, 36) 100%);
  font-size: 1rem;
  text-decoration: none;
}

.mainbackground{
  position: absolute;
  top: 0;
  left: 0;
  align-items: center;
  width: 100%;
  height: 750px;
}

.layer1, .layer2, .layer3, .layer4 , .layer5{
  position: absolute;
  left: 0px;
  width: 100%;
}

.layer1{
  z-index: -5;
  top: -500px;
  height: 2000px;
  background-image: var(--bg-layer1);
  transition: all 0.4s linear;
}

.layer2 {
  z-index: -4;
  top: -300px;
  height: 2000px;
  background-image: var(--bg-layer2);
  transition: all 0.4s linear;
}

.layer3 {
  display: flex;
  z-index: -3;
  top: 300px;
  left: 50% - 300px;
  height: 200px;
  justify-content:center;
  align-items: center;
  transition: all 0.4s linear;
}
.layer3 h1 {
  font-size: 5rem;
  background-color: var(--bg-color);
  overflow:hidden;
  backdrop-filter: blur(10px);
  box-shadow: 0.5px 0.5px 10px 1px rgba(58, 56, 44, 0.5);
  border-radius: 10px;
  padding: 3rem;
  transition: all 0.5s ease-out;
}


.layer4 {
  z-index: -2;
  top: -100px;
  height: 2000px;
  background-image: var(--bg-layer3);
  transition: all 0.4s ease-out;
}

.layer5 {
  z-index: -1;
  left: -100px;
  width: calc(100% + 100px);
  top: 500px;
  height: 2000px;
  background-image: var(--bg-layer4);
  transition: all 0.4s ease-out;
}

.color-mode{
  position: absolute;
  top: 10px;
  right: 10px;
}

#about, #projects, #skills, #edu-exp {
  padding-top: 15px;
  margin-bottom: 20px;
}

.header{
  background-color: var(--bg-color);
  position: fixed;
  display: flex;
  top: -5px;
  height: 30px;
  width: 450px;
  left: 50%;
  margin-left: -225px;
  align-items: center;
  justify-content: center;
  backdrop-filter: blur(20px);
  box-shadow: 0.5px 0.5px 10px 1px rgba(58, 56, 44, 0.5);
  border-radius: 5px;
  transition: 0.2s linear;
  z-index: 10;
}
.header a{
  color: var(--font-color);
  text-decoration: none;
}

.port-header {
  display: none;
  transition: all 0.5s;
  z-index: 10;
}

.header p {
  padding-left: 20px;
  padding-right: 20px;
  transition: all 0.5s;
}

.about {
  margin-top: 1000px;
  margin-bottom: 100px;
}

#findme {
  display: grid;
  grid-auto-flow: column;
  gap: 1em;
  justify-content: center;
  margin: 10px;
}
#findme img {
  width: 40px;
  height: 30px;
}

.infoscreen {
  text-align: center;
}

.infoscreen h2{
  overflow:hidden;
  backdrop-filter: blur(10px);
  box-shadow: 0.5px 0.5px 10px 1px rgba(58, 56, 44, 0.5);
  border-radius: 10px;
  backdrop-filter: blur(10px);
  background-color: var(--bg-color);
  transition: all 0.5s;
}

.project-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-columns: repeat(autofit, minmax(500px, 1fr));
  margin-left: 3rem;
  margin-right: 3rem;
  gap:20px;
}

.project-grid .infotext {
  height: 350px;
}

.projects{
  padding: 1%;
}

.skills .infotext, .about .infotext {
  margin-left: 3rem;
  margin-right: 3rem;
  margin-bottom: 20px;
}

.project-grid .infotext {
  height: 350px;
}

.edu-exp-grid {
  display: grid;
  grid-template-columns: 50% 50%;
  margin-left: 3rem;
  margin-right: 3rem;
  gap:20px
}
.eduexp-grid {
  display: grid;
  grid-template-columns: 50% 50%;
}

.project-grid .infotext {
  height: auto;
}

.infotext{
  overflow:hidden;
  backdrop-filter: blur(10px);
  padding: 20px;
  box-shadow: 0.5px 0.5px 10px 1px rgba(58, 56, 44, 0.5);
  border-radius: 20px;
  transition: all 0.5s;
  background-color: var(--bg-color);
}

.infotext img {
  z-index: 0;
  position:sticky;
  margin: 2%;
  width: 50%;
  border-radius: 10px;
  box-shadow: 0.5px 0.5px 5px 0.5px rgba(58, 56, 44, 0.5);
  transition: all 0.5;
}

.infotextimg{
  z-index: 1;
  position: absolute;
  top:100px;
  left: 0px;
  right: 0px;       
  text-align: center;
  visibility:hidden;
  transition: all 0.5;
}
.spacer{
  height:2px;
  background-color: var(--bg-color);
}

#top{
  background-color: var(--bg-color);
  height:5px;
}

.header p:hover, .title h2:hover{
  color: var(--font-hover-color);
  text-shadow: var(--shadow-hover-color);
}

.infotext:hover, .infoscreen h2:hover, .title h1:hover, .header:hover {
  color: var(--font-hover-color);
  text-shadow: var(--shadow-hover-color);
  background-color: var(--bg-hover-color);
  box-shadow: var(--shadow-hover-color);
  border-radius: 15px;
}
.header:hover {
  top: -10px;
  height: 100px;
  width: 450px;
  left: 50%;
  margin-left: -225px;
}

.infotextimg:hover, .infotext img:hover {
  filter: grayscale(50%);
  box-shadow: inset 1 1 10 10px rgb(240, 0, 0);
  text-shadow: var(--shadow-hover-color);
  visibility:visible;
}

.color-mode{
  height: 50px;
  width: 100px;
  border: rgba(0, 0, 0, 0);
  border-radius: 100px;
  background-color: var(--bg-color);
  box-shadow: var(--shadow-color);
}
.switch {
  position: absolute;
  top: 10%;
  left: 10%;
  width: 40%;
  height: 80%;
  background-color: green;
  border-radius: 90%;
}

@media screen and (orientation: portrait) {
  body {
    font-size: 1.5rem;
  } 
  .colormode{
    position: absolute;
    top: 10px;
    right: 110px;
    display: inline;
  }
  .colormode img {
    position: absolute;
    right: 0px;
    width: 100px;
  } 
  .edu-exp-grid, .project-grid {
    grid-template-columns: 100%;
  }
  .header{
    top: 0px;
    left: 0px;
    display: none;
  }
  .port-header {
    display: flex;
    position: fixed;
    top: -10px;
    left: -10px;
    transition: all 0.5s;
  }
  .box-menu {
    height: 80px;
    width: 80px;
    backdrop-filter: blur(10px);
    box-shadow: 0.5px 0.5px 5px 0.5px rgba(58, 56, 44, 0.5);
    border-radius: 10px;
    background-color: var(--bg-color);
    justify-content:center;
    transition: all 0.5s;
  }
  .box-menu-content {
    position: relative;
    top: 10%;
    left: 7%;
    margin: 11px;
    height: 5%;
    width: 70%;
    background-color: var(--font-color);
    border-radius: 2px;
    font-size: 0.5px;
    transition: all 0.5s;
  }
  .menu {
    display:none;
    z-index: 1;
    transition: all 0.5s;
  }
  .menu a {
    text-decoration: none;
    padding-bottom: 30px;
    font-size: 1rem;
    transition: all 0.5s;
  }

  .port-header:hover .menu {
    display:inline;
    position: absolute;
    top: 10px;
    left: 10px;
  }
  .port-header:hover .box-menu-content {
    background-color: rgba(0, 0, 0, 0);
    margin: 0px;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100px;
  }
  .port-header:hover .box-menu{
    height: 480px;
    width: 230px;
  }
  .port-header:hover .menu a{
    color: var(--font-color);
    font-size: 2rem;
  }
}

@media (prefers-color-scheme: dark) {
  /* defaults to dark theme */
  body {
  --bg-color: rgba(235, 243, 243, 0.6);
  --font-color: rgba(36, 37, 37, 0.8);
  --bg-hover-color: rgba(72, 78, 78, 0.6);
  --font-hover-color: rgba(214, 224, 197, 0.9);
  --shadow-color: 0.5px 0.5px 25px 1px rgba(212, 209, 190, 0.5);
  --shadow-hover-color: 0.5px 0.5px 50px 1px rgba(93, 91, 78, 0.739);
  --bg-layer1: url("/image/background/Light/Light_L1.png");
  --bg-layer2: url("/image/background/Light/Light_L2.png");
  --bg-layer3: url("/image/background/Light/Light_L3.png");
  --bg-layer4: url("/image/background/Light/Light_L4.png");
  }
  body.light-theme {
  --bg-color: rgba(63, 70, 70, 0.6);
  --font-color: rgba(205, 209, 190, 0.9);
  --bg-hover-color: rgba(189, 207, 207, 0.6);
  --font-hover-color: rgba(68, 73, 62, 0.9);
  --shadow-color: 0.5px 0.5px 25px 1px rgba(59, 58, 52, 0.5);
  --shadow-hover-color: 0.5px 0.5px 50px 1px rgba(185, 181, 157, 0.815);
  --bg-layer1: url("/image/background/Dark/Dark_L1.png");
  --bg-layer2: url("/image/background/Dark/Dark_L2.png");
  --bg-layer3: url("/image/background/Dark/Dark_L3.png");
  --bg-layer4: url("/image/background/Dark/Dark_L4.png");
  }
}