
.color-mode{
    user-select: none;
    position: absolute;
    top: 10px;
    right: 10px;
  }

  
#position-indicator {
    user-select: none;
    z-index: 2;
    background-color: var(--layer-two-color);
    box-shadow: var(--shadow-color);
    transition: all 0.5s ease-in-out;
    border-radius:10px;
    position: absolute;
    top: -10px;
    left: 0%;
    height: 60px;
    width: 20%;
  }

  
.header{
    user-select: none;
    background-color: var(--bg-color);
    position: fixed;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding-top: 10px;
    top: -5px;
    height: 30px;
    width: 500px;
    left: calc(50% - 250px);
    backdrop-filter: blur(20px);
    box-shadow: var(--shadow-color);
    border-radius: 10px;
    transition: all 0.5s ease-in-out;
    z-index: 1;
  }
  .header a{
    text-align: center;
    width: 20%;
    z-index: 3;
    color: var(--font-color);
    text-decoration: none;
  }

  
.header:hover {
    top: -10px;
    height: 100px;
  }
  
  .header:hover #position-indicator {
    height: 110px;
    background-color: var(--layer-three-color);
  }

  

.color-mode{
    height: 50px;
    width: 100px;
    border: rgba(0, 0, 0, 0);
    border-radius: 100px;
    background-color: var(--bg-color);
    box-shadow: var(--shadow-color);
  }
  .color-switch-circle {
    fill: rgb(68, 129, 68);
  }
  .color-switch-circle:hover {
    transform: translate(295px, 115px);
  }
  .switch {
    width: 100px;
    height: 50px;
  }