/*RED BASE_________________________________________*/
#rb0 {
    grid-area: rb0;
}
#rb1 {
    grid-area: rb1;
}
#rb2 {
    grid-area: rb2;
}
#rb3 {
    grid-area: rb3;
}

/*BLUE BASE_________________________________________*/

#bb0 {
    grid-area: bb0;
}
#bb1 {
    grid-area: bb1;
}
#bb2 {
    grid-area: bb2;
}
#bb3 {
    grid-area: bb3;
}

/*YELLOW BASE_________________________________________*/

#yb0 {
    grid-area: yb0;
}
#yb1 {
    grid-area: yb1;
}
#yb2 {
    grid-area: yb2;
}
#yb3 {
    grid-area: yb3;
}

/*GREEN BASE_________________________________________*/

#gb0 {
    grid-area: gb0;
}
#gb1 {
    grid-area: gb1;
}
#gb2 {
    grid-area: gb2;
}
#gb3 {
    grid-area: gb3;
}

/*RED HOUSE_________________________________________*/
#rh0 {
    grid-area: rh0;
}
#rh1 {
    grid-area: rh1;
}
#rh2 {
    grid-area: rh2;
}
#rh3 {
    grid-area: rh3;
}

/*BLUE HOUSE_________________________________________*/

#bh0 {
    grid-area: bh0;
}
#bh1 {
    grid-area: bh1;
}
#bh2 {
    grid-area: bh2;
}
#bh3 {
    grid-area: bh3;
}
/*YELLOW HOUSE_________________________________________*/

#yh0 {
    grid-area: yh0;
}
#yh1 {
    grid-area: yh1;
}
#yh2 {
    grid-area: yh2;
}
#yh3 {
    grid-area: yh3;
}

/*GREEN HOUSE_________________________________________*/

#gh0 {
    grid-area: gh0;
}
#gh1 {
    grid-area: gh1;
}
#gh2 {
    grid-area: gh2;
}
#gh3 {
    grid-area: gh3;
}

/*FIELD 1-10_________________________________________*/

#fi0 {
    grid-area: fi0;
}
#fi1 {
    grid-area: fi1;
}
#fi2 {
    grid-area: fi2;
}
#fi3 {
    grid-area: fi3;
}
#fi4 {
    grid-area: fi4;
}
#fi5 {
    grid-area: fi5;
}
#fi6 {
    grid-area: fi6;
}
#fi7 {
    grid-area: fi7;
}
#fi8 {
    grid-area: fi8;
}
#fi9 {
    grid-area: fi9;
}
#fi10 {
    grid-area: fi10;
}
/*FIELD 11-20_________________________________________*/
#fi11 {
    grid-area: fi11;
}
#fi12 {
    grid-area: fi12;
}
#fi13 {
    grid-area: fi13;
}
#fi14 {
    grid-area: fi14;
}
#fi15 {
    grid-area: fi15;
}
#fi16 {
    grid-area: fi16;
}
#fi17 {
    grid-area: fi17;
}
#fi18 {
    grid-area: fi18;
}
#fi19 {
    grid-area: fi19;
}
#fi20 {
    grid-area: fi20;
}
/*FIELD 21-30_________________________________________*/
#fi21 {
    grid-area: fi21;
}
#fi22 {
    grid-area: fi22;
}
#fi23 {
    grid-area: fi23;
}
#fi24 {
    grid-area: fi24;
}
#fi25 {
    grid-area: fi25;
}
#fi26 {
    grid-area: fi26;
}
#fi27 {
    grid-area: fi27;
}
#fi28 {
    grid-area: fi28;
}
#fi29 {
    grid-area: fi29;
}
#fi30 {
    grid-area: fi30;
}
/*FIELD 31-39_________________________________________*/
#fi31 {
    grid-area: fi31;
}
#fi32 {
    grid-area: fi32;
}
#fi33 {
    grid-area: fi33;
}
#fi34 {
    grid-area: fi34;
}
#fi35 {
    grid-area: fi35;
}
#fi36 {
    grid-area: fi36;
}
#fi37 {
    grid-area: fi37;
}
#fi38 {
    grid-area: fi38;
}
#fi39 {
    grid-area: fi39;
}