.gamewindow {
    width: 100%;
    height: 100%;
    display: grid;
    gap: 0.5%;
    grid-template-areas: 
    'rb0  rb1  .    .    fi8  fi9  fi10 .    .    bb0  bb1  '
    'rb2  rb3  .    .    fi7  bh0  fi11 .    .    bb2  bb3  '
    '.    .    .    .    fi6  bh1  fi12 .    .    .    .    '
    '.    .    .    .    fi5  bh2  fi13 .    .    .    .    '
    'fi0  fi1  fi2  fi3  fi4  bh3  fi14 fi15 fi16 fi17 fi18 '
    'fi39 rh0  rh1  rh2  rh3  EF   gh3  gh2  gh1  gh0  fi19 '
    'fi38 fi37 fi36 fi35 fi34 yh3  fi24 fi23 fi22 fi21 fi20 '
    '.    .    .    .    fi33 yh2  fi25 .    .    .    .    '
    '.    .    .    .    fi32 yh1  fi26 .    .    .    .    '
    'yb0  yb1  .    .    fi31 yh0  fi27 .    .    gb0  gb1  '
    'yb2  yb3  .    .    fi30 fi29 fi28 .    .    gb2  gb3  '
    ;
}

