html, body { 
    height: 99%;

    --no-figuer-color: rgba(233, 229, 229, 0.767);
}

.maingrid {
    width: 100%;
    height: 100%;
    background-color: rgb(149, 107, 160);
    display: grid;
    grid-template-areas: 
    'a a'
    'a a'
    'b c'
    ;
}
.gamewindow {
    width: 100%;
    height: 100%;
    grid-area: a;
    background-color: rgba(160, 62, 17, 0.7);
}
.stats {
    margin: 0px;
    padding: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    grid-area: b;
    background-color: rgba(110, 160, 17, 0.7);
}
.stats p{
    margin: 0px;
    padding: 0px;
}
.dice {
    width: 100%;
    height: 100%;
    grid-area: c;
    background-color: rgba(64, 25, 155, 0.7);
}
.gamewindow button {
    border-radius: 25%;
    background-color: var(--no-figuer-color);
}

@media screen and (orientation: landscape) {
    .maingrid {
        background-color: rgb(17, 160, 160);
        display: grid;
        grid-template-areas: 
        'a a b'
        'a a c'
        ;
    }
}